@import "tailwindcss";

@font-face {
  font-family: neue;
  src: url(../assets//FKGroteskNeue.woff2);
}

@font-face {
  font-family: regular;
  src: url(../assets//PPLX-Sans-Beta-v1-VF.woff2);
}

body {
  background-color: rgb(44, 44, 44);
  font-family: regular;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}
